* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: .12rem;
}

html, body, .wrap {
  width: 100%;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 .1rem;
  border-bottom: 1px solid #ccc;
}

.header .userImg {
  width: 0.4rem;
  height: 0.4rem;
  display: inline-block;
  border-radius: 50%;
  background: pink;
  cursor: pointer;
}

.header .header-nav {
  width: 70%;
  height: 0.5rem;
  overflow: hidden;
}

.header .header-nav ul {
  width: 110%;
  height: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-nav ul li {
  font-size: .18rem;
  color: #aaa;
  cursor: pointer;
}

.header span {
  cursor: pointer;
}

.header span i {
  font-size: .26rem;
}

.section {
  flex: 1;
  overflow-y: auto;
}

.section .banner {
  width: 100%;
  height: 1.3rem;
  background: cornflowerblue;
  text-align: center;
  line-height: 1.3rem;
}

.section .banner h3 {
  font-size: .3rem;
}

.section .list {
  width: 100%;
  height: auto;
}

.section .list dl {
  width: 100%;
  height: 1rem;
  border-bottom: 1px solid #aaa;
}

.footer {
  width: 100%;
  height: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 .1rem;
  border-top: 1px solid #ccc;
}
